body {
	background-color: linen;
}

h1 {
	color: black;
}

p {
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	color: black;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
 }

footer {
    position: relative;
    height: 300px;
    width: 100%;
    background-color: black;
}

#topright img {
    position: absolute;
    top: 20px;
    right: 20px;
}

p.blocktext {
    text-align: center;
}

p.copyright {
    position: relative;
    width: 100%;
    color: linen;
    line-height: 240px; 
    font-size: 0.8em;
    text-align: center;
    bottom:0;
}
