body {
	background-color: linen;
}

h1 {
	color: black;
}

p {
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	color: black;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
 }

footer {
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: black;
    bottom: 0;
}

#topright img {
    position: absolute;
    top: 20px;
    right: 20px;
    line-height: 200%;
}

p.blocktext {
    text-align: center;
    color: white;
    background-image: url("light_bulbs.jpg");
    background-size: cover;   
    background-repeat: no-repeat;
    height: 450px;
}

p.copyright {
    position: relative;
    width: 100%;
    color: linen;
    line-height: 240px; 
    font-size: 0.8em;
    text-align: center;
    bottom:0;
}
